h1 {
color:blue;
font-style: initial;
background-color: black;
<em>
}
h2{
    color:green;
    font-style: italic;
    text-align: center;
}
p{
    font-family: sans-serif;
    <strong> <em>
    font-family: border-radius:

{
ul {
    line-height: 40px;
}